%nav.pure-menu.pure-menu-horizontal.menu
  %span.pure-menu-heading Miniposts
  %ul.pure-menu-list.right
    - if current_user
      %li.pure-menu-item
        = link_to current_user.email, dashboard_path, class: 'pure-menu-link'
      %li.pure-menu-item
        = link_to t('.signout'), destroy_user_session_path, method: :delete, class: 'pure-menu-link'